<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MedKart</title>
    <link rel="stylesheet" href="landing.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header>
        <button onclick="userLogOut()">Log Out</button>
        <h1>Welcome <%= decoded.uname %> to your Health and Fitness Journey</h1>
    </header>
    <main class="container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui veniam corporis voluptatibus quis, hic aliquid facilis perspiciatis sed dolorum modi nobis sit eius similique excepturi nihil, vitae quos quam placeat eum? Cum aliquam sed deserunt? Architecto accusamus nam impedit culpa quasi, doloribus, iste sapiente fugit unde debitis eum laborum optio magni dolorem voluptate. Cum, cupiditate repellat. Facilis, cum a.</p>
        <% if (jobList.length > 0 && jobList[0] != undefined) { %>
            <div>
                <h2>List of Medicine</h2>
                <ol>
                    <% for (let index = 0; index < jobList.length; index++) { %>
                        <% if (jobList[index] != undefined) { %>
                            <li><%= jobList[index] %></li>
                        <% } %>
                    <% } %>
                </ol>
            </div>
        <% } %>
        <div class="button-divider">
        <button onclick="toggleOneTimeForm()">One Time Medicine Notification</button>
        <button onclick="toggleRecurForm()">Recurring Medicine Notification</button>
    </div>
        <div class="form-container">
                <form id="one__time__form" hidden>
                    <button type="button" class="close" data-dismiss="form" aria-label="Close" onclick="toggleOneTimeForm()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <h2>Enter One Time Medicine Details</h2>
                    <label for="medName">Enter Medicine Name:</label>
                    <input type="text" name="medName" id="medName" required><br>
                    <label for="medDesc">Enter Description:</label>
                    <input type="text" name="medDesc" id="medDesc" placeholder="optional"><br>
                    <h2>Select Date and Time</h2>
                    <input type="date" name="medicDate" id="date" required/>
                    <input type="time" name="medicTime" id="time" required/>
                    <input type="submit" value="Set Medicine Remainder" name="submit"/>
                </form>
                <form id="recurring__form" hidden>
                    <button type="button" class="close" data-dismiss="form" aria-label="Close" onclick="toggleRecurForm()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <h2>Enter Reccuring Medicine Details</h2>
                    <label for="recurMedName">Enter Medicine Name:</label>
                    <input type="text" name="recurMedName" id="recurMedName" placeholder="Paracetomal..." required>
                    <label for="recurMedDesc">Enter Description:</label>
                    <input type="text" name="recurMedDesc" id="recurMedDesc" placeholder="Paracetamol is a medicine used to treat mild to moderate pain..."><br>
                    <label for="medFreqUnit">Select Notification Cycle:</label>
                    <select name="medFreqUnit" id="medFreqUnit" required>
                        <option disabled selected value> --daily or weekly </option>
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                    </select><br>
                </form>
        </div>
    </main>
    <!-- Notification Modal -->
    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="notificationModalLabel">Notification</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="notificationMessage">
              <!-- The message will be inserted here -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="errorMessage">
                    <!-- The message will be inserted here -->
                    There was some error. Please come back later.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="medic.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>