<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script type="module" src="public.js"></script>
</head>
<body>
    <h1>Welcome to LogIn Page</h1>
    <div>
        <form id="form__user">
            <label for="uname">Enter UserName:</label>
            <input type="text" id="username" name="uname" autofocus required title="UserName" /><br />
            <label for="pwd">Enter Password:</label>
            <input type="password" name="pwd" id="password" required /><br />
            <input type="submit" value="Submit" />
        </form>
        <small>New User? <a href="/signup">Sign Up!</a></small>
    </div>
</body>
</html>
