<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Are you ready to start your journey?</h1>
    <form action="/" method="get">
        <label for="name">Name:</label>
        <input type="text" name="name" required autofocus><br>
        <label for="name">Last Name:</label>
        <input type="text" name="lname" required><br>
        <label for="age">Age:</label>
        <input type="number" min="18" max="100" required><br>
        <label for="name">UserName:</label>
        <input type="text" name="uname" required><br>
        <label for="name">Password:</label>
        <input type="password" name="password" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>